Options -Indexes
RewriteEngine On

# Si ce n'est pas un fichier ou un dossier existant
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Rediriger vers index.html
RewriteRule ^.*$ /docfront/index.html [L,QSA]
